# Comentario

tempfile.txt
*.txt
*.zip
*.gz
log/*.log
log/*.log[0.9]
assets/photoshop/
assets/videos/
!assets/videos/tour_*.mp4

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
